/* body {
  font-family: Arial, sans-serif;
  text-align: center;
} */
#container {
  margin: 20px auto;
  width: 800px;
  border: 1px solid #ccc;
  padding: 20px;
}
input[type="number"] {
  width: 205px;
  padding: 5px;
  margin: 5px;
}
.button-press {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-press:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-press {
    padding: 0.25em 0.75em;
  }
}